<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="ModuleWPFTutorialApp.dll" moduleType="ModuleWPFTutorialApp.ModuleWPFTutorialAppProfile, ModuleWPFTutorialApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleWPFTutorialAppProfile" startupLoaded="True" />
    <module assemblyFile="ModuleDialog.dll" moduleType="ModuleDialog.ModuleDialogProfile, ModuleDialog, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleDialogProfile" startupLoaded="True" />
  </modules>
</configuration>